.image-upload {
  display: inline-block;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  border: dashed #999 1px;

  .fp__btn {
    display: none;
  }

  * {
    background-color: transparent !important;
  }

  & > div {
    display: inline-block;

    & > div {
      width: 200px;
      height: 200px;

      display: flex !important;
      justify-content: center; /* align horizontal */
      align-items: center;
      text-align: center;
      margin: 0 !important;
      border: none !important;
      box-shadow: none !important;
    }

    span {
      display: none !important;
    }
  }

}