.smart-input {
  .control-label {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }

  .form-control {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
  }
}